html,
body,
.app,
.content
  padding: 0
  margin: 0
  height: 100vh
  width: 100%
  display: block
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

.app
  display: flex
  position: relative

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

.sections
  display: block
  width: 30%
  padding: 16px
  height: 100vh
  border-right: 1px solid gray